@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

:root {
  --primary-color: rgb(52, 87, 180);
  --secondary-color: rgb(210, 223, 255);
  --accent-color: rgb(252, 115, 24);
  --background: rgb(255, 250, 244);

}

/* reset */
a {
  text-decoration: none;
}



/* HELPER COLOR */
.primary-color-text {
  color: var(--primary-color) !important;
}

.accent-color-text {
  color: var(--accent-color) !important;
}

.primary-color-bg {
  background-color: var(--primary-color) !important;
}

.accent-color-bg {
  background-color: var(--accent-color) !important;
}

.background {
  background-color: var(--background) !important;
}

/* --------------------------------------------- */

* {
  font-family: 'Poppins', sans-serif;

}

body {
  overflow-x: hidden;
  background-color: rgb(255, 250, 244);
}



/* navbar*/

.linkNav {
  font-weight: 500;
  color: var(--primary-color) !important;
}

.navAnimation {
  transition: all 0, 5s cubic-bezier(.215, .61, .355, 1);
}

.navAnimation:hover {
  color: var(--accent-color) !important;
}

.btnStatic {
  transition: all 0, 5s cubic-bezier(.215, .61, .355, 1);
}

.btnStatic:hover {
  background-color: var(--accent-color) !important;
}

.navShadow {
  box-shadow: 0 5px 20px rgb(255, 206, 173);
}



/* HERO SECTION */


.shopBack {

  position: absolute;
  right: 9%;
  top: 20%;
  z-index: -1;
  width: 52%;
}

.shopImage {
  position: absolute;
  right: 22%;
  top: 28%;
  width: 31%;
}



/* search bar */
.searchBar {
  margin-top: 23%;
}

.searchBtn {
  transition: all 0, 5s cubic-bezier(.215, .61, .355, 1);
  background-color: var(--accent-color) !important;
  color: white;
}

.searchBtn:hover {
  background-color: var(--primary-color) !important;
  color: white;
}

.searchStyle {
  border: 5px solid var(--accent-color) !important;
}


/* CATEGORY SECTION */

.categoryCardContainer {
  /* background-color: var(--secondary-color)!important; */
  background: rgb(52, 87, 180);
  background: linear-gradient(180deg, rgba(52, 87, 180, 1) 0%, rgba(1, 5, 17, 1) 100%);

}

.categoryCard {

  background-color: white;
  color: var(--primary-color) !important;
  border: 5px solid var(--secondary-color) !important;

}

.categoryCard:hover {
  background-color: var(--accent-color) !important;
  color: white !important;

}


.circle {
  width: 50px;
  height: 50px;
  background-color: var(--secondary-color) !important;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s all ease;
}

.categoryCard:hover .circle {
  color: var(--primary-color) !important;
}






.imgSfondo {

  background-image: url('../img/image.jpg');


  width: 600px;
  height: 200px;
  border-color: red;
}


/* ANIMATION CARD */

.price {
  bottom: 20%;
  right: 10%;
  text-shadow: 0 1px 5px rgb(15, 15, 15);
}

.userBar {

  top: 50%;
  left: 50%;
  translate: -50%;
  box-shadow: 0 5px 10px rgb(223, 223, 223);


}

.blackGradient {
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.911) 0%, rgba(255, 255, 255, 0) 100%);
  position: absolute !important;
  bottom: 0 !important;
  width: 100%;
  height: 130px;
}


.card-scale {
  transition: all 0.3s cubic-bezier(.215, .61, .355, 1);

}

.card-scale:hover {
  scale: 1.05;
  transition: all 0.3s cubic-bezier(.215, .61, .355, 1);
}

.reveal {
  position: relative;
  transform: translateY(100px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}